# Virtual environments
venv

# Outputs
outputs
processed_files
__pycache__
.vscode
inputs


# Ignore Audio Files 🎵
*.wav
*.mp3
*.m4a
*.flac
*.ogg
*.aiff

# Ignore Video Files 🎥
*.mp4
*.mkv
*.avi
*.mov
*.webm
*.wmv

# Build artifacts
dist/
build/

# Test caches
.pytest_cache/

# Binary packages
*.exe
*.pkg

# Other Files
ui_settings.json
benchmark_result.json
benchmark_summary.json

Archived